<header class="am-topbar am-topbar-inverse admin-header" ng-include="'framework/template/header.html'">
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
	<div class="admin-sidebar am-offcanvas" id="admin-offcanvas" ng-include="'framework/template/sidebar.html'"></div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
  	<form class="am-form am-form-inline">
	  <fieldset>
		<legend>订单列表</legend>
		<div class="am-form-group">
		<select ng-model="queryObject.status" ng-options="x for (x, y) in  orderStatuTypeMap"></select>	
		</div>
		 <div class="am-form-group">
			<input  class="am-form-field" placeholder="模糊搜索">
		</div>
		<button  ng-click="getOrders()" class="am-btn am-btn-default">查询</button>
	</fieldset>
	</form>
	<div class="am-g">
        <div class="am-u-sm-12">
          <table class="am-table am-table-bd am-table-striped admin-content-table">
            <thead>
            <tr>						
              <th>ID</th><th>订单编号</th><th>订单总额</th><th>支付总额</th>
			  <th>状态</th><th>下单时间</th><th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat = "order in orderList track by $index">
			<td>{{order.id}}</td>
			<td>{{order.order_number}}</td>
			<td>{{order.total_price}}元</td> 
			<td>{{order.pay_price}}元</td>
			<td>{{orderStatuType[order.status]}}</td>
			<td>{{order.updated_at.replace("T"," ").substr(0,16)}}</td>
            <td>
				<a ui-sref="order({ orderId: {{order.id}} })" class="am-text-success">详情</a>
				
				<button type="button" class="am-btn am-btn-success" ng-click = "closeOrder(order.id,order)">发货</button>
			</td>
            </tr>
            
            </tbody>
          </table>
        </div>
    </div>

	
	 
  </div>
 <!-- content end -->

</div>

<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<footer  ng-include="'framework/template/footer.html'">
</footer>