<header class="am-topbar am-topbar-inverse admin-header" ng-include="'framework/template/header.html'">
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
	<div class="admin-sidebar am-offcanvas" id="admin-offcanvas" ng-include="'framework/template/sidebar.html'"></div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content ">
  	<form class="am-form am-form-inline">
	  <fieldset>
		<legend>订单列表</legend>
		<div class="am-form-group">
		<label >状态：</label>
		</div>
		<div class="am-form-group">
		<select ng-model="queryObject.status" ng-options="x for (x, y) in  orderStatuTypeMap"></select>	
		</div>
		<div class="am-form-group">
		<label >支付时间起止：</label>
		</div>
		<div class="am-form-group">
			<input id="timeStart" size="16" type="text"  readonly class="form-datetime am-form-field">
		</div>
		<div class="am-form-group">
			<input id="timeEnd" size="16" type="text"  readonly class="form-datetime am-form-field">
		</div>
		<button  ng-click="getOrders()" class="am-btn am-btn-default">查询</button>
	</fieldset>
	</form>
	<div class="am-g">
        <div class="am-u-sm-12">
		  <div class="am-scrollable-horizontal">
          <table class="am-table am-table-bd am-table-striped admin-content-table">
            <thead>
            <tr>						
              <th>订单编号</th><th>支付总额</th>
			  <th>支付时间</th>
			  <th>产品信息</th><th>客户信息</th>
			  <th>状态</th><th>发货</th><th>查看</th>
            </tr>
            </thead>
            <tbody>
            <tr  ng-repeat = "order in orderList track by $index">
			<td>{{order.order_number}}</td>
			<td>{{order.pay_price}}元</td>
			<td>{{order.payment_time.replace("T"," ").substr(0,16)}}</td>
			<td>
			<ul>
			<li ng-repeat = "p in order.order_details" >
			{{p.product.name}}
			<span class="am-badge am-badge-success am-round">
			{{p.amount}}{{units[p.price.unit].name}}
			</span>
			</li>
			<ul>
			</td>
			
			<td>
			<span class="am-badge ">{{order.consignee_address}}</span>
			<span class="am-badge am-badge-primary  am-radius">{{order.consignee_name}}</span>
			<span class="am-badge am-badge-secondary am-round">{{order.consignee_phone}}</span>
			</td>
			<td>{{orderStatuType[order.status]}}</td>
            <td>
				<button ng-show="order.status==2" type="button" class="am-btn am-btn-success" ng-click = "closeOrder(order.id,order,$event)">发货</button>
			</td>
			<td>
				<a ui-sref="order({ orderId: {{order.id}} })">详情</a>
			</td>
            </tr>
            
            </tbody>
          </table>
		  </div>
		  <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </div>

	
	 
  </div>
 <!-- content end -->

</div>

<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<footer  ng-include="'framework/template/footer.html'">
</footer>