<header class="am-topbar am-topbar-inverse admin-header" ng-include="'framework/template/header.html'">
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
	<div class="admin-sidebar am-offcanvas" id="admin-offcanvas" ng-include="'framework/template/sidebar.html'"></div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
	<form class="am-form">
	  <fieldset>
		<legend>{{title}}</legend>
		<label >目录:</label>
		<select ng-model="product.category_id" ng-options="x.id as x.name for x in productCategories"></select>	
		<label >分类:</label>
		<select ng-model="product.property" ng-options="x.id as x.name for x in productProperties"></select>	
		<label for="productName">商品名称:</label>
		<input type="text"  id="productName"  ng-model="product.name">
		<div class="pre" ng-repeat = "file in product.productPicture track by $index" 
		id="file-doc-form-productPicture{{$index}}" class="am-container"></div>
		<div class="cc"><div>
		<div class="am-form-group am-form-file">
		  <button type="button" class="am-btn am-btn-default am-btn-sm">
			<i class="am-icon-cloud-upload"></i>选择商品图片</button>
		  <input id="doc-form-productPicture" type="file"  name="inputFile" file-model = "product.productPicture" >
		</div>
		<button type="button" class="am-btn am-btn-success am-btn-sm" ng-click = "uploadPicture(2,'productPicture')">
			<i class="am-icon-cloud-upload"></i> 上传</button>
		<br>
		<img  ng-repeat = "file in productPicture track by $index" class="am-radius" alt="140*140" ng-src="{{serviceIP+file.document.url}}" width="140" height="140" />
		<br>
		<label >商品描述:</label>
		<input type="text"  id="productName"  ng-model="product.description">
		<br>
		</fieldset>
	</form>
		<label >价格:<span class="am-icon-btn am-icon-plus" ng-click = "addPrices()"></span></label>
	<div ng-repeat = "p in product.prices track by $index" class="am-form-inline prices">
		<fieldset>
			
			<label >市场价:</label>
			<input type="text"    ng-model="p.price">
			<label >优惠价:</label>
			<input type="text"   ng-model="p.real_price">
			<label >单位:</label>
			<select ng-model="p.unit" ng-options="x.id as x.name for x in units"></select>
			<label >是否默认:</label>
			<select ng-model="p.is_default" ng-options="x.id as x.name for x in isDefalut"></select>
			<label >转换数量:</label>
			<input type="text"  ng-model="p.display_quantity">			
			<label >转换单位:</label>
			<select ng-model="p.display_unit" ng-options="x.id as x.name for x in units"></select>
			
			<label ><span class=" am-icon-minus" ng-click = "removePrices($index)"></span></label>
	
		</fieldset>
		<br>
	</div>

			
	
	<form class="am-form">
		<fieldset>

		<label >库存:</label>
		<input type="text"  id="productName"  ng-model="product.stock">
		<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
		<label >轮播图:</label>
		<div >
		<div class="pre" ng-repeat = "file in product.productSwiperPicture track by $index" 
		id="file-doc-form-productSwiperPicture{{$index}}" class="am-container"></div>
		<div>
		<div class="cc"><div>
		<div class="am-form-group am-form-file">
		  <button type="button" class="am-btn am-btn-default am-btn-sm">
			<i class="am-icon-cloud-upload"></i> 选择轮播图</button>
		  <input id="doc-form-productSwiperPicture" type="file"  name="inputFile" file-model = "product.productSwiperPicture" multiple>
		</div>
		<button type="button" class="am-btn am-btn-success am-btn-sm" ng-click = "uploadPicture(1,'productSwiperPicture')">
			<i class="am-icon-cloud-upload"></i> 上传</button>
		<br>
		<img  ng-repeat = "file in productSwiperPicture track by $index" class="am-radius" alt="140*140" ng-src="{{serviceIP+file.document.url}}" width="140" height="140" />
		
		<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
		<label >详情图:</label>
		<div >
		<div class="pre" ng-repeat = "file in product.productDetailsPicture track by $index" 
		id="file-doc-form-productDetailsPicture{{$index}}" class="am-container"></div>
		<div>
		<div class="cc"><div>
		<br>
		<div class="am-form-group am-form-file">
		  <button type="button" class="am-btn am-btn-default am-btn-sm">
			<i class="am-icon-cloud-upload"></i> 选择详情图</button>
		  <input id="doc-form-productDetailsPicture" type="file"  name="inputFile" file-model = "product.productDetailsPicture" multiple >
		</div>	
		<button type="button" class="am-btn am-btn-success am-btn-sm" ng-click = "uploadPicture(3,'productDetailsPicture')">
			<i class="am-icon-cloud-upload"></i> 上传</button>	
		<br>			
		<img  ng-repeat = "file in productDetailsPicture track by $index" class="am-radius" alt="140*140" ng-src="{{serviceIP+file.document.url}}" width="140" height="140" />
		<p><button id="saveproduct" class="am-btn am-btn-primary " ng-click = "saveProduct()">保存</button></p>
		
	  </fieldset>
	</form>
	
			<label >计算策略:<span class="am-icon-btn am-icon-plus" ng-click = "addCompute_strategies()"></span></label>
	<div ng-repeat = "p in product.compute_strategies track by $index" class="am-form-inline prices">
		<fieldset>
			
			<label >类型:</label>
			<input type="text"    ng-model="p.classify">
			<label >所需平均数量:</label>
			<input type="text"   ng-model="p.average_quantity">
			<label >所需单位:</label>
			<select ng-model="p.average_unit" ng-options="x.id as x.name for x in units"></select>
		
			<label >备注:</label>
			<input type="text"  ng-model="p.remark">			
			<label ><span class=" am-icon-minus" ng-click = "removeCompute_strategies($index)"></span></label>
		</fieldset>
		<br>
	</div> 
  </div>
 <!-- content end -->

</div>

<a  class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer  ng-include="'framework/template/footer.html'">
</footer>

 <!--
		<label >食量:</label>
		<input  type="text"  ng-model="product.eat_quantity">	
		<label >单位:</label>
		<select ng-model="product.display_unit" ng-options="x.id as x.name for x in units"></select>


 -->				