<div class="am-topbar-brand">
<strong>cms</strong> <small>后台管理</small>
</div>

<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

<div class="am-collapse am-topbar-collapse" id="topbar-collapse">

<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
  <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 未处理 <span class="am-badge am-badge-warning">5</span></a></li>
  <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
</ul>
</div>
<script>
	var $fullText = $('.admin-fullText');
	$('#admin-fullscreen').on('click', function() {
	  $.AMUI.fullscreen.toggle();
	});

	$(document).on($.AMUI.fullscreen.raw.fullscreenchange, function() {
	  $fullText.text($.AMUI.fullscreen.isFullscreen ? '退出全屏' : '开启全屏');
	})
</script>