    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a ui-sref="orderList"><span class="am-icon-home"></span> 订单列表</a></li>

        <li><a ui-sref="productsList"><span class="am-icon-table"></span> 产品管理</a></li>
    
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>cms 后台管理</p>
        </div>
      </div>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> Welcome</p>
          <p>Welcome eshope!</p>
        </div>
      </div>
    </div>