    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a ui-sref="orderList"><span class="am-icon-home"></span>订单列表</a></li>
        <li><a ui-sref="productsList"><span class="am-icon-table"></span>产品管理</a></li>
		<li><a ui-sref="adverts"><span class="am-icon-pencil-square-o"></span>广告管理</a></li>
    
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span>所需商品</p>
         <table ng-if="number"class="am-table am-table-bordered am-table-striped am-table-compact">
		  <thead>
		  <tr>
			<th>商品名称</th>
			<th>需量</th>
			<th>存量</th>
		  </tr>
		  </thead>
		  <tbody>
		  <tr ng-repeat = "p in showTips ">
			<td>{{p.name}}</td>
			<td><span class="am-badge am-badge-success am-round">{{p.needNumber}}</span></td>
			<td>
			<span ng-if="p.stock<p.needNumber" class="am-badge am-badge-danger am-round">{{p.stock}}!!</span>
			<span ng-if="p.stock<20"class="am-badge am-badge-danger am-round">{{p.stock}}!!</span>
			<span ng-if="p.stock>150" class="am-badge am-badge-primary am-round">{{p.stock}}</span>
			
			</td>
		  </tr>
		  </tbody>
		</table>

        </div>
      </div>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> Welcome</p>
        <div class="am-alert am-alert-success" data-am-alert ng-show="info">
		  <button type="button" class="am-close">&times;</button>
		  <p>{{tipMessageOnLeft}}成功</p>
		</div>

	

		<div class="am-alert am-alert-danger" data-am-alert ng-show="error">
		  <button type="button" class="am-close">&times;</button>
		  <p>{{tipMessageOnLeft}}失败</p>
		</div>
        </div>
      </div>
    </div>