<header class="am-topbar am-topbar-inverse admin-header" ng-include="'framework/template/header.html'">
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
	<div class="admin-sidebar am-offcanvas" id="admin-offcanvas" ng-include="'framework/template/sidebar.html'"></div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
	<form class="am-form">
	  <fieldset>
		<legend>{{title}}</legend>

			<label >团购信息:</label>
			<div  class="am-form-inline ">
				<fieldset>
					
					<label >目标数量:</label>
					<input type="number"    ng-model="product.group_buying.target_amount">
					<label >开始时间:</label>
					<input type="text"    class="form-datetime" ng-model="product.group_buying.begin_time">		
					<label >结束时间:</label>
					<input type="text"  class=" form-datetime"  ng-model="product.group_buying.end_time">	
							
				</fieldset>		
				<label >最少购买:</label>
				<input type="text"    ng-model="product.group_buying.limit_min">	
				<label >最多购买:</label>
				<input type="text"    ng-model="product.group_buying.limit_max">					
				<br>
				完成比例{{product.group_buying.completion_rate}}
				已完成数量{{product.group_buying.current_amount}}
				已参加人数{{product.group_buying.current_number}}
			</div> 
	  </fieldset>
	</form>			
	<p><button id="saveproduct" class="am-btn am-btn-primary " ng-click = "saveProduct()">保存</button></p>
  </div>
 <!-- content end -->

</div>

<a  class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer  ng-include="'framework/template/footer.html'">
</footer>
			